.react-calendar {
  width: 100%;
  max-width: 400px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile {
  border-radius: 8px;
}

.react-calendar__tile--active {
  background: #6200ea;
  color: white;
}

.react-calendar__tile--now {
  background: #ffeb3b;
  border-radius: 50%;
}

/* Màu nền cho ngày hoàn thành */
.tile-finish-true {
  background-color: #d4edda; /* Màu xanh lá cây nhạt */
  color: #155724; /* Màu chữ đậm */
  border-radius: 50%;
}

/* Màu nền cho ngày chưa hoàn thành */
.tile-finish-false {
  background-color: #f8d7da; /* Màu đỏ nhạt */
  color: #721c24; /* Màu chữ đậm */
  border-radius: 50%;
}
